<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div
      style="font-family: Arial, sans-serif; color: #333; text-align: center"
    >
      <h2>Chào mừng bạn đến với PHOFLIX-V3!</h2>
      <p>
        Nhấn vào <a href="{{ resetLink }}" target="_blank">đây</a> để đặt lại mật
        khẩu của bạn. Link này sẽ hết hạn sau 15 phút.
      </p>
      <p>
        Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng phản hồi lại email này.
      </p>
      <p>Trân trọng!</p>
    </div>
  </body>
</html>
